body {
  font-family:Georgia, 'Times New Roman', Times, serif
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  padding-top: 20px;
  padding-bottom: 20px;
}

h4 {
  font-style: italic;
}

p {
  padding: 0px;
  margin: 0px;
}

#currencyAmount {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

button {
  width: 100%;
}